.box {
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  padding: 50px;
  background: white;
}



.titleWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;

}

.time {
  color: rgb(168, 168, 168);
}

.rating {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
}

.rating button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rating button:first-child:hover{
    transform: translateY(-3px);
}

.rating button:last-child:hover{
    transform: translateY(3px);
}

.button {
    background-color: #f1f1f1;
    color: #333;

}

.newForm {
    margin-top: 10px;
}
