@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  color: #333;
  line-height: 1.5em;
  background: #f1f1f1;
}

*  {
  box-sizing: border-box
}

h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
}

.button {
  display: block;
  background-color: rgb(37, 110, 194);
  color: white;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}